{% load static %}
<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %} Open Journal</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .sticky {
        position: fixed;
        top: 0;
      }

    </style>

<body>

      <div class="w3-padding sticky">
        <a class="btn btn-sm btn-outline-secondary w3-deep-purple w3-right " href="{% url 'logout' %}" style="z-index:1;">Log Out</a>
      </div>

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 text-center">
            <a class="w3-xlarge w3-wide w3-text-deep-purple" href="#">Open Journal</a>
          </div>
        </div>
     </header>
 <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="{% url 'home' %}">Home</a>
      <a class="p-2 text-muted" href="#">Explore</a>
       <a class="nav-link w3-text-grey" href="#">
            Messages
            <span class="badge badge-pill bg-light align-text-bottom">27</span>
       </a>
      <a class="p-2 text-muted" href="#">Notification</a>
      <a class="p-2 text-muted" href="{% url 'profile' request.user %}">Profile</a>
    </nav>
  </div>
        <!-- Button trigger modal -->

             <button type="button" class="w3-margin-16 w3-button w3-round w3-deep-purple w3-display-bottomleft" data-toggle="modal" data-target="#writeNote" style="position: fixed;">
            Write a Note
            </button>

{% block content %}{% endblock %}

        <!--Write a New Note Modal -->
<div >
{% include "accounts/includes/writeNote.html" %}
</div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
<!--  &copy;-->
    <p class="mb-1"> <span id="date_"></span> - Lams</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#" class=" w3-text-grey">Privacy</a></li>
      <li class="list-inline-item"><a href="#" class=" w3-text-grey">Terms</a></li>
      <li class="list-inline-item"><a href="#" class=" w3-text-grey">Support</a></li>
      <li class="list-inline-item"><a href="#" class=" w3-text-grey">Api</a></li>
      <li class="list-inline-item"><a href="#" class=" w3-text-grey">Jobs</a></li>
    </ul>
  </footer>


<script>
<!--Set year in footer-->
var d = new Date();
document.getElementById("date_").innerHTML = d.getFullYear();


</script>
</body>
</html>
