<div class="w3-white w3-round">

    <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-4 text-center">
                <a class="w3-xlarge w3-wide w3-text-deep-purple" href="#">Open Journal</a>
              </div>
            </div>
    </header>

     <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="{% url 'home' %}">Home</a>
          <a class="p-2 text-muted" href="#">Explore</a>
           <a class="nav-link w3-text-grey" href="{% url 'chatMessages' %}">
                Messages
                <span class="badge badge-pill w3-red align-text-bottom">27</span>
           </a>
          <a class="p-2 text-muted" href="{% url 'notification' %}">Notification
           <span id="notification" class="badge badge-pill w3-purple align-text-bottom"></span>
          </a>
          <a class="p-2 text-muted" href="{% url 'profile' request.user %}">Profile</a>
        </nav>
      </div>

</div>




<script>
    $(document).ready(function(){
          $.ajax({
            type: 'GET',
            url: '/ajax/update_navbar/',
            data: {},
            dataType: 'json',
            success: function (data) {
                document.getElementById('notification').innerHTML = data.notification;
            }
          });

    });
</script>