{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<!-- Page Container -->
<div class="w3-content w3-margin-top w3-round" style="max-width:1000px;">

  <!-- The Grid -->
  <div class="w3-row-padding ">

    <!-- Left Column -->

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-third w3-display-container">
          <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-grey">
            <h2>{{profile.owner}}</h2>
          </div>
        </div>
        <div class="w3-twothird w3-container w3-padding">
          <p><i class="fa fa-file fa-fw w3-margin-right w3-large w3-text-purple"></i>Notes: {{posts|length}}</p>
            <p><i class="fa fa-users fa-fw w3-margin-right w3-large w3-text-purple"></i>Following: {{am_following|length}}  <span class="w3-text-deep-purple">|</span>  Followers: {{following_me|length}} </p>
          <p><i class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-purple"></i>About: {{profile.about_me}}</p>
          <hr>

        </div>
      </div>


    <!-- Right Column -->

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16 w3-center"><i class="fa fa-book fa-fw w3-margin-right w3-xlarge  w3-text-purple"></i>{{profile.owner}}'s Journal</h2>
              <div class="" style="" id="post_tray">
                {% for post in posts %}
                {% include 'accounts/includes/post.html' %}
                {% endfor %}
              </div>
      </div>

      </div>





      </div>


  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>


{% endblock %}