{% extends 'accounts/base.html' %}
{% load static %}


{% block content %}
<script src="{% static 'accounts/js/profile.js' %}"></script>
<!-- Page Container -->
<div class="w3-content w3-margin-top w3-round" style="max-width:1000px;">

  <!-- The Grid -->
  <div class="w3-row-padding ">

    <!-- Left Column -->

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-third w3-display-container">
          <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-grey">
            <h2 id="profile_owner">{{profile.owner}}</h2>
          </div>
        </div>
        <div class="w3-twothird w3-container w3-padding">

<!--          Follow Button-->
            <div>
    <!--          To avoid showing a profile button on logged in users profile-->
              {% if request.user.username|safe != profile.owner|safe %}
    <!--            Check if loggedin user follows current profile-->
                  <button id="follow_button" class="w3-right w3-button w3-text-purple w3-border w3-small w3-round">
                    {% if request.user.username|safe not in following_me %}
                      Follow
                    {% else %}
                      Unfollow
                    {% endif %}
                  </button>
                {% endif %}
            </div>

          <p class=""><i class="fa fa-file fa-fw w3-margin-right w3-large w3-text-purple "></i>Notes: <span id="diary_note_length">{{posts|length}}</span></p>
          <p id="follows_size" onclick="get_follows()"><i class="fa fa-users fa-fw w3-margin-right w3-large w3-text-purple"></i>Following: <span id="am_len">{{am_following|length}} </span> <span class="w3-text-deep-purple">|</span>  Followers:  <span id="fol_me">{{following_me|length}} </p>
          <p class=""><i class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-purple"></i>About: {{profile.about_me}}</p>

          <!--          Does this profile follow logged in user-->
          {% if request.user.username in am_following %}
          <i class="w3-text-purple w3-small w3-opacity">{{profile.owner}} follows you</i>
          {% endif %}
          <hr>
        </div>

      </div>
    <!-- Right Column -->

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16 w3-center"><i class="fa fa-book fa-fw w3-margin-right w3-xlarge  w3-text-purple"></i>{{profile.owner}}'s Journal</h2>
              <div class="" style="" id="post_tray">
                {% for post in posts %}
                {% include 'accounts/includes/post.html' %}
                {% endfor %}


              {% if posts|length == 0 %}
              <h1>I REMEMBER WHEN I WAS A SOLDIER</h1>
              {% endif %}
              </div>
      </div>

  </div>
</div>



{% endblock %}