{% load static %}

<script src="{% static 'accounts/js/follows.js' %}"></script>
<!--This gets triggered by the follows-->
<!-- Modal -->
<div class="modal fade" id="follows" tabindex="-1" role="dialog" aria-labelledby="follows" aria-hidden="true">
  <div class="modal-dialog" role="document" style="min-width:25%;">
    <div class="modal-content">
        <span id="page_number" class="w3-hide">1</span>
      <div class="modal-header">
        <h5 class="modal-title">Follows <u><i id="profile_owner" class="w3-text-purple w3-small w3-opacity">{{profile.owner}}</i></u></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <!-- Search form -->
            <div class="md-form mt-0">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div><br>
            <span id="follows_tabs" class="w3-bar  w3-center">
              <button class="w3-bar-item w3-border w3-button" onclick="openFollows('Followers')" style="width:50%">Followers</button>
              <button class="w3-bar-item w3-border w3-button" onclick="openFollows('Following')" style="width:50%">Following</button>
            </span>

        <div id="_+" class="w3-container city" >
            {% load static %}<img class="w3-center w3-padding" src="{% static 'accounts/images/closed.svg' %}" alt="" style="width:70%;"/>
            <span class="w3-text-deep-purple w3-right w3-xxlarge"><i>Friends</i></span>
        </div>

        <div id="Followers" class="w3-container city" style="display:none">
            <ul id="followers_list" class="list-group">
                <li class="list-group-item"></li>
            </ul>
        </div>

        <div id="Following" class="w3-container city" style="display:none">
            <ul id="following_list" class="list-group">
                <li class="list-group-item"></li>
            </ul>
        </div>

      </div>
      <div class="modal-footer">
          <button onclick="more_follows_button_clicked" id="more_follows_btn" class="w3-button w3-purple w3-round w3-center">More</button>
      </div>
    </div>
  </div>
</div>
